@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Instituto Tecnologico de Costa Rica</p>
<p>Algoritmos y Estructuras de Datos 1</p>
<p>Naheem Johnson</p>
<p>Código Basado en https://www.geeksforgeeks.org/factorial-of-a-number-using-javascript/</p>

